.navbar {
  background-color: #cd163f !important;
}

.navbar-brand {
  color: white !important;
}

.btn-outline-primary {
  color: #cd163f;
  border-color: #cd163f;
}

.btn-primary {
  color: #fff;
  background-color: #cd163f;
  border-color: #cd163f;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #cd163f;
  border-color: #cd163f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #cd163f;
  border-color: #cd163f;
}

.accordion-button:not(.collapsed) {
  color: #cd163f;
  background-color: #eeeeee;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
